<!-- templates/mine.html -->
{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading"><i class="fas fa-info-circle"></i> Mining in Progress</h4>
            <p>Please wait while your block is being mined. This might take a few moments.</p>
            <hr>
            <p class="mb-0">You will be redirected once the mining is complete.</p>
        </div>
    </div>
</div>
{% endblock %}
